.maincontainer {
    @apply m-5 mt-0;
    font-family: "Inter", sans-serif
}


.container {
    height: fit-content;
    width: 500px;
    background-color: white;
    border-radius: 25px;
    padding-right: 45px;
    padding-left: 45px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
}

.con1 {
    @apply flex w-full items-end justify-between px-5;
}

.con2 {
    @apply py-3 flex w-full items-end justify-between bg-white rounded-3xl shadow-md;
}

.tbHeading {
    @apply text-mainColor text-sm font-medium;
}

.data {
    @apply text-mainColor text-sm font-normal;
}

.col {
    @apply text-center px-5 items-center text-mainColor text-sm font-normal py-3 justify-center;
}

.colDetail {
    @apply px-5 items-center text-mainColor text-sm font-normal py-2 flex justify-center cursor-pointer hover:underline;
}

.tableData {
    @apply table-auto w-full;
}

.btnnav {
    @apply bg-mainColor h-7 w-7 rounded-lg items-center flex justify-center;
}

.rowTbl {
    @apply border-t-[0.75px] border-t-secondColor border-opacity-10;
}

.modal-heading {
    color: #023E8A;
    font-size: medium;
}